<div class="section_process_row">

	<div class="spr_block spr_left">

		<div class="spr_left_header">{{name}}</div>

		<div class="spr_left_content flex_column_container">

			<div class="sprlc_row flex_column_row">
				<div class="sprlc_row_header">LISTENING</div>
				<div class="sprlc_row_content"><div class="led_light led_light_success h10x"></div></div>
			</div>

		</div>

	</div>
	<div class="spr_block spr_right">

		<div class="log_row_container nm_platform_inset nm_platform_convex" data-key="processes_sub_server_{{name}}_logs">

			<div class="log_row">process logs</div>

		</div>

	</div>

</div>