.env
rethinkdb.conf
sites/core/config/.conf
sites/core/files/temp/
/sites/core/files/images/
/sites/core/files/unversioned/
sites/core/files/build/production/
node_modules/
files/temp/
security/
.vscode/
logs/