

$min_width: 		780px;
$left_block_width: 	180px;

//$dark_color:    	#9ea4b5;
$light_color:   	#eef0f4;
$lighter_color:   	#ffffff;

$dark_color:    	#73787d;
$darker_color:    	#333;

$light_shadow: 		rgba(255,255,255,0.9);
$lighter_shadow: 	rgba(255,255,255,1);

$dark_shadow:		rgba(0,0,0,0.12);
$darker_shadow:		rgba(0,0,0,0.25);
//$light_shadow: 		#ffffff;
//$dark_shadow:		#cfd1d4;

$theme_color_1:   	#1276fa;
$theme_color_2:		#1fb2ef;
$theme_color_3:		#2fe0e4;

$error_color: 			#d9534f;
$info_color: 			#5bc0de;
$success_color: 		#1fb141;
$warning_color: 		#f0ad4e;

$fs_header_1:   5rem;
$fs_text:       2rem;

$media_width:   1100px;
$media_height:  600px;