
<section id="section_server" data-key="server" class="section">

	<div class="section_flex_container">
	
		<!-- STATUS -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header">STATUS</div>
			<div class="sb_content">

				<!-- UPTIME -->
				<div class="sbc_row">
					<div class="sbc_row_header">UP-TIME</div>
					<div class="sbc_row_content" data-key="server_uptime"></div>
				</div>

				<!-- SERVER START -->
				<div class="sbc_row">
					<div class="sbc_row_header">SERVER START</div>
					<div class="sbc_row_content" data-key="server_starttime"></div>
				</div>

				<!-- HOST -->
				<div class="sbc_row">
					<div class="sbc_row_header">PUBLIC IP</div>
					<div class="sbc_row_content" data-key="server_public_ip"></div>
				</div>

				<!-- WORKERS -->
				<div class="sbc_row">
					<div class="sbc_row_header">WORKERS</div>
					<div class="sbc_row_content" data-key="server_workers"></div>
				</div>

				<!-- SITES -->
				<div class="sbc_row">
					<div class="sbc_row_header">SITES</div>
					<div class="sbc_row_content" data-key="server_sites"></div>
				</div>

				<!-- SITES -->
				<div class="sbc_row">
					<div class="sbc_row_header">SHUTDOWN</div>
					<div class="sbc_row_content" data-key="server_shutdown_button"><button>SHUTDOWN</button></div>
				</div>

			</div>

		</div>

		<!-- MACHINE -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header" data-key="server_machine_header">MACHINE</div>
			<div class="sb_content">

				<div class="sbc_row">
					<div class="sbc_row_header">MACHINE</div>
					<div class="sbc_row_content" data-key="server_machine"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">USER</div>
					<div class="sbc_row_content" data-key="server_machine_user"></div>
				</div>

				<!-- UPTIME -->
				<div class="sbc_row">
					<div class="sbc_row_header">UP-TIME</div>
					<div class="sbc_row_content" data-key="server_machine_uptime"></div>
				</div>

				<!-- SERVER START -->
				<div class="sbc_row">
					<div class="sbc_row_header">SERVER START</div>
					<div class="sbc_row_content" data-key="server_machine_starttime"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">TYPE</div>
					<div class="sbc_row_content" data-key="server_type"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">PLATFORM</div>
					<div class="sbc_row_content" data-key="server_platform"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">ARCHITECTURE</div>
					<div class="sbc_row_content" data-key="server_architecture"></div>
				</div>

			</div>

		</div>

		<!-- ENVIRONMENT -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header">ENVIRONMENT</div>
			<div class="sb_content">

				<div class="sbc_row">
					<div class="sbc_row_header">ENVIRONMENT</div>
					<div class="sbc_row_content" data-key="server_environment">2</div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">SERVER IP</div>
					<div class="sbc_row_content" data-key="server_ip">2</div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">SERVER ROOT</div>
					<div class="sbc_row_content" data-key="server_root">platform</div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">NODE</div>
					<div class="sbc_row_content" data-key="server_node">arch</div>
				</div>

			</div>

		</div>

		<!-- PERFORMANCE -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header">PEFORMANCE</div>
			<div class="sb_content">

				<div class="sbc_row">
					<div class="sbc_row_header"></div>
					<div class="sbc_row_content">(machine stats)</div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">CPU usage</div>
					<div class="sbc_row_content" data-key="server_cpu_usage"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">RAM</div>
					<div class="sbc_row_content" data-key="server_ram"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">RAM usage</div>
					<div class="sbc_row_content" data-key="server_ram_usage"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">requests per second</div>
					<div class="sbc_row_content" data-key="server_qps"></div>
				</div>

			</div>

		</div>

		<!-- ADMIN -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header">ADMIN</div>
			<div class="sb_content">

				<!-- ENVIRONMENT -->
				<div class="sbc_row">
					<div class="sbc_row_header">ENABLED</div>
					<div class="sbc_row_content" data-key="server_admin_on"></div>
				</div>

				<!-- HOST -->
				<div class="sbc_row">
					<div class="sbc_row_header">SITE NAME</div>
					<div class="sbc_row_content" data-key="server_admin_site_name"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">SITE PATH</div>
					<div class="sbc_row_content" data-key="server_admin_site_path"></div>
				</div>

			</div>

		</div>

		<!-- DB -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header">DB</div>
			<div class="sb_content">

				<!-- ENVIRONMENT -->
				<div class="sbc_row">
					<div class="sbc_row_header">DB type</div>
					<div class="sbc_row_content" data-key="server_db_type"></div>
				</div>

				<!-- HOST -->
				<div class="sbc_row">
					<div class="sbc_row_header">DB address</div>
					<div class="sbc_row_content" data-key="server_db_address"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">DB user</div>
					<div class="sbc_row_content" data-key="server_db_user"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">admin DB name</div>
					<div class="sbc_row_content" data-key="server_db_admin_db"></div>
				</div>

			</div>

		</div>

		<!-- SOCKET -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header">SOCKET</div>
			<div class="sb_content">

				<!-- ENVIRONMENT -->
				<div class="sbc_row">
					<div class="sbc_row_header">Socket</div>
					<div class="sbc_row_content" data-key="server_socket_on"></div>
				</div>

				<!-- HOST -->
				<div class="sbc_row">
					<div class="sbc_row_header">Socket host</div>
					<div class="sbc_row_content" data-key="server_socket_host"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">Socket secure</div>
					<div class="sbc_row_content" data-key="server_socket_secure"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">Active connections</div>
					<div class="sbc_row_content" data-key="server_socket_connections"></div>
				</div>

			</div>

		</div>

		<!-- CONFIG -->
		<div class="section_block nm_platform_flat nm_platform_concave">

			<div class="sb_header">CONFIG</div>
			<div class="sb_content">

				<div class="sbc_row">
					<div class="sbc_row_header">Secure (HTTPS)</div>
					<div class="sbc_row_content" data-key="server_secure"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">Mailer</div>
					<div class="sbc_row_content" data-key="server_mailer"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">Request timeout</div>
					<div class="sbc_row_content" data-key="server_request_timeout"></div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">Files temp dir</div>
					<div class="sbc_row_content" data-key="server_files_temp_dir">Files temp dir</div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">Files max size</div>
					<div class="sbc_row_content" data-key="server_files_max_size">Files max size</div>
				</div>

				<div class="sbc_row">
					<div class="sbc_row_header">Shutdown timeout</div>
					<div class="sbc_row_content" data-key="server_shutdown_timeout">Shutdown timeout</div>
				</div>

				
				<div class="sbc_row">
					<div class="sbc_row_header"></div>
					<div class="sbc_row_content" data-key="server_test_mail_button"><button>SEND TEST E-MAIL</button></div>
				</div>

			</div>

		</div>

	</div>

</section>