

    /* ABOUT INTRO */
    #about_intro_header {
        
        color:              $light_color;
        font-size:          4rem;
        margin-top:         350px;
        text-align:         center;
        
    }


