.dark_overlay_1 { background: rgba($dark_color, 0.1);}
.dark_overlay_2 { background: rgba($dark_color, 0.2);}
.dark_overlay_3 { background: rgba($dark_color, 0.3);}
.dark_overlay_4 { background: rgba($dark_color, 0.4);}
.dark_overlay_5 { background: rgba($dark_color, 0.5);}
.dark_overlay_6 { background: rgba($dark_color, 0.6);}
.dark_overlay_7 { background: rgba($dark_color, 0.7);}
.dark_overlay_8 { background: rgba($dark_color, 0.8);}
.dark_overlay_9 { background: rgba($dark_color, 0.9);}
.dark_overlay_10 { background: rgba($dark_color, 1);}

.light_overlay_1 { background: rgba($light_color, 0.1);}
.light_overlay_2 { background: rgba($light_color, 0.2);}
.light_overlay_3 { background: rgba($light_color, 0.3);}
.light_overlay_4 { background: rgba($light_color, 0.4);}
.light_overlay_5 { background: rgba($light_color, 0.5);}
.light_overlay_6 { background: rgba($light_color, 0.6);}
.light_overlay_7 { background: rgba($light_color, 0.7);}
.light_overlay_8 { background: rgba($light_color, 0.8);}
.light_overlay_9 { background: rgba($light_color, 0.9);}
.light_overlay_10 { background: rgba($light_color, 1);}