
#slock {
    
    min-width:      $min_width;
    width:          100vw;
    max-width:      100%; // width without scrollbar, works only in <body>
    overflow:       hidden;
    //font-family:    GOTHIC;
    font-family:    "Myriad Pro", Arial;
    color:          $darker_color;
    background:     $light_color;
    
}

#warp {


    z-index:        1;
    font-size:      0;

}

.main_blocks {

    display:        inline-block;
    vertical-align: top;
    min-height:     100vh;

}

#left_block {

    display:        inline-block;
    width:          $left_block_width;
    vertical-align: top;
    min-height:     100vh;

    background:     lighten($light_color, 3%);
    background:     linear-gradient(135deg, lighten($light_color, 3%), darken($light_color, 3%));

    box-shadow:     0px 0px 20px 10px $dark_shadow;

    overflow:       hidden;


}

    #lb_noisy_background {

        background-image:   url(./../../../../files/images/static/noisy_bg.png);
        opacity:            0;

    }

    #lb_inner_shadow_border {

        position:   absolute;
        width:      100%;
        top:        -50px;
        bottom:     -50px;
        box-shadow: inset 0px 0px 6px 3px $dark_shadow;
        z-index:    0;

    }   


#right_block {

    width:          calc(100% - $left_block_width);

}

.mb_header_block {

    height:         150px;

}

    #left_block_header {

        padding:    15px;

    }

        .left_header {

            display:        flex;
            flex-flow:      row nowrap;
            align-items:    center;
            justify-content:center;

        }

            .left_header_image {

                flex:           0 0 auto;
                height:         120px;
                aspect-ratio:   1/1;

            }


#main_menu_container {

    position:       relative;
    z-index:        5;
    padding:        20px;
    padding-right:  30px;

}

        .mm_menu {

            display:        flex;
            flex-flow:      column nowrap;
            align-items:    stretch;
            justify-content:flex-start;
            padding-top:    10px;

        }

            .mm_menu_link {

                flex:       0 0 auto;
                color:      $darker_color;
                @include    font_size(12pt);
                text-decoration: none;
                padding:    4px 0;

                &:hover { font-weight: bold;}
                &:active, &.active { padding-left: 10px; font-weight: bold;}

            }

#top_header_container {

    padding:        15px 30px 15px 45px;
    box-sizing:     border-box;
    display:        flex;
    align-items:    flex-start;
    justify-content:space-between;

}

    .th_block {

        z-index:    1;

        &.th_header {

            margin:     0;
            @include    line_height(60px, 2);
            flex:       1 1 content;

        }

        &.th_control {

            flex:           0 0 auto;
            display:        flex;
            flex-flow:      row nowrap;
            align-items:    flex-end;
            justify-content:space-between;

        }

    }

            .thc_block {

                height:         100%;
                padding:        10px;

                &.thc_status {

                }

                &.thc_admin {

                    display:        flex;
                    flex-flow:      row nowrap;
                    justify-content:space-between;
                    align-items:    baseline;
                    padding-left:   10px;

                }

            }

                    .thc_status_text {

                        vertical-align: middle;
                        height:         100%;
                        display:        inline-block;
                        font-size:      15px;
                        line-height:    26px;
                        padding:        4px 0 0 10px;

                    }

                    .thc_status_indicator {

                        vertical-align: middle;
                        height:         100%;
                        display:        inline-block;
                        padding:        0 15px;
                        display:        inline-flex;
                        flex-flow:      row nowrap;
                        justify-content:center;
                        align-items:    center;

                    }

                    .thca_block {

                        display:        flex;
                        padding:        0 10px;

                        &.thca_name {

                            line-height:    40px;
                            font-size:      15px;

                        }

                    }

#main_container {

}

#footer_container {

    grid-area:  footer;

}

.row_block { display: inline-block;}


.flex_column_container {

    display:			flex;
    flex-flow:			column nowrap;
    justify-content:	flex-start;
    align-items:		flex-start;
    align-content:		flex-start;


    .flex_column_row {

        flex:			0 0 auto;
        display:		flex;
        width:			100%;

    }

}


.log_row_container {

    max-height:         300px;
    height:             100%;
    overflow:           auto;
    padding:            10px 15px;

    .log_row {

        @include        font_size(10pt);
        padding:        8px 0;

    }

}

#socket_status {

    position:   fixed;
    bottom:     50px;
    left:       50px;
    color:      $light_color;
    background: $error_color;
    @include    font_size(12pt);
    padding:    10px 20px;
    border-radius: 6px;
    font-family: "Myriad Pro", Arial;
    z-index:    10;
    display:    none;

}

#alerts_container {

    position:   fixed;
    bottom:     100px;
    left:       50px;
    z-index:    10;

}

    .alert_box {

        color:      $light_color;
        @include    font_size(12pt);
        padding:    10px 20px;
        margin-top: 10px;
        border-radius: 6px;
        font-family: "Myriad Pro", Arial;
        cursor:     pointer;

        &.success { background: $success_color; }
        &.error { background: $error_color; }

    }

#loading_screen {

    display:    flex;
    position:   fixed;
    width:      100vw;
    max-width:  100%; // without scrollbar width, works only if directly in <body>
    height:     100vh;
    top:        0;
    left:       0;
    z-index:    20;


    justify-content:    center;
    align-items:        center;

    font-family:    "Myriad Pro", Arial;
    @include        font_size(14pt);

}
        #ls_blur { backdrop-filter:blur(3px); }
        #ls_veil { background: $light_color; opacity: 0.6; }

        #ls_box {

            max-width:  80vw;
            padding:    20px 30px 16px 30px;
            background: $light_color;
            color:      $darker_color;

        }


